SE_final Project_EZ_Booking.nodejs.txt
[{"id":"881431e1.2e39","type":"watson-text-to-speech","z":"3aa3dbb9.cfda94","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"","format":"audio/wav","password":"AugkzaOl7w6T","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":300,"y":360,"wires":[["51a9160a.ef15c8","5fba5e48.54442"]]},{"id":"fabb2c01.cccb3","type":"function","z":"3aa3dbb9.cfda94","name":"Get Output","func":"var output = msg.payload.output.text[0];\n\nmsg.payload = output.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":300,"wires":[["5b054006.56cc2","881431e1.2e39"]]},{"id":"5b054006.56cc2","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":300,"wires":[]},{"id":"b0d4e550.682f38","type":"watson-speech-to-text","z":"3aa3dbb9.cfda94","name":"test speech to text","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","band":"NarrowbandModel","bandhidden":"NarrowbandModel","password":"eesZStn3nzpy","payload-response":true,"streaming-mode":false,"streaming-mute":false,"discard-listening":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":390,"y":140,"wires":[["cd79d968.8c5378","5b35eb31.f56694"]]},{"id":"494c33e4.3bea8c","type":"microPi","z":"3aa3dbb9.cfda94","name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://192.168.1.90:1880","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"2","silence":"10","debug":true,"mode":"666","x":200,"y":140,"wires":[[],["b0d4e550.682f38"],[]]},{"id":"cd79d968.8c5378","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":80,"wires":[]},{"id":"d075d0a7.25f14","type":"inject","z":"3aa3dbb9.cfda94","name":"Start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["494c33e4.3bea8c"]]},{"id":"cd33f3a.b4a771","type":"inject","z":"3aa3dbb9.cfda94","name":"Stop","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["494c33e4.3bea8c"]]},{"id":"5fba5e48.54442","type":"play audio","z":"3aa3dbb9.cfda94","name":"","voice":"0","x":210,"y":440,"wires":[]},{"id":"51a9160a.ef15c8","type":"speakerpi-output","z":"3aa3dbb9.cfda94","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":460,"y":440,"wires":[]},{"id":"b7ce3c90.cf377","type":"function","z":"3aa3dbb9.cfda94","name":"City condition to String","func":"var output = msg.payload.output.text[0];\n\nmsg.payload = output.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["b05b182e.1a8688","6d7f3145.4cb2e","5bff721f.8e98fc","b748e214.251e3"]]},{"id":"b05b182e.1a8688","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":160,"wires":[]},{"id":"715213f0.5c408c","type":"function","z":"3aa3dbb9.cfda94","name":"weather api .json","func":"msg.payload = \"http://api.wunderground.com/api/05a89743a84bc5ba/conditions/q/\"+msg.payload+\".json\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":220,"wires":[["e56e8096.2436c","5a802d5a.5d0d24"]]},{"id":"e56e8096.2436c","type":"change","z":"3aa3dbb9.cfda94","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2050,"y":260,"wires":[["5c3c51ce.ae015","b60d501c.3dc2b"]]},{"id":"5c3c51ce.ae015","type":"http request","z":"3aa3dbb9.cfda94","name":"","method":"GET","ret":"obj","url":"","tls":"","x":2110,"y":300,"wires":[["789c53f8.f1ee4c","b60d501c.3dc2b"]]},{"id":"789c53f8.f1ee4c","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2150,"y":340,"wires":[]},{"id":"1e434b31.0b0c95","type":"comment","z":"3aa3dbb9.cfda94","name":"put RegEx condition here for track location ","info":"","x":960,"y":100,"wires":[]},{"id":"5c2429a.2bf6ad8","type":"comment","z":"3aa3dbb9.cfda94","name":"Dynamically http-request to weather underground api","info":"","x":2090,"y":180,"wires":[]},{"id":"6d7f3145.4cb2e","type":"function","z":"3aa3dbb9.cfda94","name":"RegEx to declare location","func":"x = msg.payload;\n\n//Track end condition\nvar regex_end = /So now i have all the information/g;\nvar myArray_end = x.match(regex_end);\n\nif(myArray_end[0] === \"So now i have all the information\")\n{\n    \nvar regex = /Miami|Los Angeles|Paris|Mumbai|New York|San Francisco|Bangkok/g;\nvar myArray = x.match(regex);\nmsg.payload = myArray; //print match array\n\nreturn msg;\n}else{\n    msg.payload = \"Error\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":930,"y":220,"wires":[["fe8fcffb.dd53f","6e02e0f7.a5826"]]},{"id":"fe8fcffb.dd53f","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1070,"y":160,"wires":[]},{"id":"6e02e0f7.a5826","type":"split","z":"3aa3dbb9.cfda94","name":"Split Array Output","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1170,"y":220,"wires":[["e44558dd.e2af28"]]},{"id":"e44558dd.e2af28","type":"switch","z":"3aa3dbb9.cfda94","name":"Location Switch case","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Miami","vt":"str"},{"t":"eq","v":"Los Angeles","vt":"str"},{"t":"eq","v":"Paris","vt":"str"},{"t":"eq","v":"Mumbai","vt":"str"},{"t":"eq","v":"New York","vt":"str"},{"t":"eq","v":"San Francisco","vt":"str"},{"t":"eq","v":"Bangkok","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":1400,"y":220,"wires":[["35c8b716.defb38"],["5d73ea45.decfc4"],["21d4b54e.36889a"],["cea93244.07273"],["4575bf34.e9f59"],["e57d8e9f.49405"],["c1787e9a.459c3"]]},{"id":"5b35eb31.f56694","type":"watson-conversation-v1","z":"3aa3dbb9.cfda94","name":"ChatBot","workspaceid":"549fc7d2-9373-4615-8dd2-13738deea6ed","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","timeout":"","optout-learning":false,"x":390,"y":220,"wires":[["fabb2c01.cccb3","b7ce3c90.cf377","3a9ecd35.bf8e02"]]},{"id":"b60d501c.3dc2b","type":"function","z":"3aa3dbb9.cfda94","name":"Temp Threshold(high/low)","func":"temp = msg.payload.current_observation.temp_c;\nlocation = msg.payload.current_observation.observation_location.full;\n\nvar high_temp = 35;\nvar low_temp = 12;\n\nif(temp >= high_temp)\n{\n    //msg.title= \"Weather message from Nodered\"; //title for email\n    msg.payload = \"Too hot in \"+ String(location) +\", Current temp is \"+ String(temp)+ \" C'\";\n \n    return msg;\n}else if(temp <= low_temp)\n{\n    //msg.title= \"Weather message from Nodered\"; //title for email\n    msg.payload = \"Too cold in \"+ String(location) +\", Current temp is \"+ String(temp)+ \" C'\";\n    return msg;\n}else if(temp <=high_temp && temp >low_temp)\n{\n    //msg.title= \"Weather message from Nodered\"; //title for email\n    msg.payload = \"This is Great Weather in \"+ String(location)+\" !\" +\", Current temp is \"+ String(temp)+ \" C'\";\n    return msg;\n}\n\n\n\n\n","outputs":1,"noerr":0,"x":2430,"y":160,"wires":[["90109fce.cf505","d805291.50fb3d8"]]},{"id":"d805291.50fb3d8","type":"twitter out","z":"3aa3dbb9.cfda94","twitter":"","name":"Tweet about temp","x":2710,"y":160,"wires":[]},{"id":"c8302ad7.6871b8","type":"e-mail","z":"3aa3dbb9.cfda94","server":"smtp.gmail.com","port":"465","secure":true,"name":"pwongsupa2016@fau.edu ","dname":"mail Notofication","x":1140,"y":360,"wires":[]},{"id":"90109fce.cf505","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2630,"y":100,"wires":[]},{"id":"5a802d5a.5d0d24","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2170,"y":120,"wires":[]},{"id":"382ca014.b41e8","type":"comment","z":"3aa3dbb9.cfda94","name":"Split Location","info":"","x":1410,"y":100,"wires":[]},{"id":"7cb88fe7.c2e6a","type":"comment","z":"3aa3dbb9.cfda94","name":"Mail notification","info":"","x":1140,"y":320,"wires":[]},{"id":"16b96cce.335f73","type":"comment","z":"3aa3dbb9.cfda94","name":"Tweet words each location","info":"","x":2850,"y":100,"wires":[]},{"id":"35c8b716.defb38","type":"function","z":"3aa3dbb9.cfda94","name":"Miami to FL/Miami","func":"x = msg.payload;\n\nif(x == \"Miami\")\n{\n    msg.payload = \"FL/Miami\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1670,"y":100,"wires":[["715213f0.5c408c"]]},{"id":"5d73ea45.decfc4","type":"function","z":"3aa3dbb9.cfda94","name":"LA to CA/Los Angeles","func":"x = msg.payload;\n\nif(x == \"Los Angeles\")\n{\n    msg.payload = \"CA/Los Angeles\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1680,"y":140,"wires":[["715213f0.5c408c"]]},{"id":"21d4b54e.36889a","type":"function","z":"3aa3dbb9.cfda94","name":"Paris to FR/Paris","func":"x = msg.payload;\n\nif(x == \"Paris\")\n{\n    msg.payload = \"FR/Paris\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1670,"y":180,"wires":[["715213f0.5c408c"]]},{"id":"cea93244.07273","type":"function","z":"3aa3dbb9.cfda94","name":"Mumbai to IN/Mumbai","func":"x = msg.payload;\n\nif(x == \"Mumbai\")\n{\n    msg.payload = \"IN/Mumbai\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1680,"y":220,"wires":[["715213f0.5c408c"]]},{"id":"4575bf34.e9f59","type":"function","z":"3aa3dbb9.cfda94","name":"New York to NY/New York","func":"x = msg.payload;\n\nif(x == \"New York\")\n{\n    msg.payload = \"NY/New York\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1690,"y":260,"wires":[["715213f0.5c408c"]]},{"id":"c1787e9a.459c3","type":"function","z":"3aa3dbb9.cfda94","name":"Bangkok to TH/Bangkok","func":"x = msg.payload;\n\nif(x == \"Bangkok\")\n{\n    msg.payload = \"TH/Bangkok\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1690,"y":340,"wires":[["715213f0.5c408c"]]},{"id":"e57d8e9f.49405","type":"function","z":"3aa3dbb9.cfda94","name":"San Francisco to CA/San Francisco","func":"x = msg.payload;\n\nif(x == \"San Francisco\")\n{\n    msg.payload = \"CA/San Francisco\";\n    return msg;\n}\n\n","outputs":1,"noerr":0,"x":1720,"y":300,"wires":[["715213f0.5c408c"]]},{"id":"51cc7a7a.b34fa4","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1130,"y":400,"wires":[]},{"id":"5bff721f.8e98fc","type":"function","z":"3aa3dbb9.cfda94","name":"RegEx for Mail","func":"x = msg.payload;\n\n//Track end condition\nvar regex_end = /So now i have all the information|is cancelled/g;\nvar myArray_end = x.match(regex_end);\n\n\nif(myArray_end[0] === \"So now i have all the information\")\n{\n    msg.payload = x\n    return msg;\n}else if(myArray_end[0] === \"is cancelled\"){\n    msg.payload = x\n    return msg;\n}else{\n    msg.payload = \"Error\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":920,"y":320,"wires":[["c8302ad7.6871b8","51cc7a7a.b34fa4"]]},{"id":"b748e214.251e3","type":"function","z":"3aa3dbb9.cfda94","name":"RegEx to build dash board for Booked","func":"x = msg.payload;\n\n//Track end condition\nvar regex_end = /So now i have all the information|is cancelled/g;\nvar myArray_end = x.match(regex_end);\n   \nif(myArray_end[0] === \"So now i have all the information\")\n{\nvar regex = /Miami|Los Angeles|Paris|Mumbai|New York|San Francisco|Bangkok|\\(([^)]+)\\)/g;\nvar myArray = x.match(regex);\nmyArray.push(\"Booked\");//append array with status\n\nmsg.payload = myArray; //print match array\n\nreturn msg;\n}else {\n    msg.payload = \"Error\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":540,"wires":[["449d7162.2ceac","b323b268.55d4c"]]},{"id":"7c38585c.d1ab18","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1350,"y":480,"wires":[]},{"id":"449d7162.2ceac","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":480,"wires":[]},{"id":"4f6c9999.865fb8","type":"comment","z":"3aa3dbb9.cfda94","name":"Dashboard","info":"","x":940,"y":500,"wires":[]},{"id":"b323b268.55d4c","type":"ui_template","z":"3aa3dbb9.cfda94","group":"e6bf4192.c2e5a","name":"","order":1,"width":"7","height":"5","format":"<table>\n  <tr>\n    <th>Deaprture Location</th>\n    <th>Departure Date</th> \n    <th>Arrival Location</th>\n    <th>Arrival Date</th>\n    <th>Booking Status</th>\n  </tr>\n  <tr >\n    <td>{{msg.payload[0]}}</td> \n    <td>{{msg.payload[1]}}</td> \n    <td>{{msg.payload[2]}}</td>\n    <td>{{msg.payload[3]}}</td>\n    <td>{{msg.payload[4]}}</td>\n  </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1200,"y":540,"wires":[["7c38585c.d1ab18"]]},{"id":"c07a5e0a.df359","type":"ui_template","z":"3aa3dbb9.cfda94","group":"e6bf4192.c2e5a","name":"","order":1,"width":"7","height":"5","format":"<table>\n  <tr>\n    <th>Deaprture Location</th>\n    <th>Departure Date</th> \n    <th>Arrival Location</th>\n    <th>Arrival Date</th>\n    <th>Booking Status</th>\n  </tr>\n  <tr >\n    <td>{{msg.payload[0]}}</td> \n    <td>{{msg.payload[1]}}</td> \n    <td>{{msg.payload[2]}}</td>\n    <td>{{msg.payload[3]}}</td>\n    <td>{{msg.payload[4]}}</td>\n  </tr>\n</table>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1200,"y":620,"wires":[["e38e4bd0.00e708"]]},{"id":"e38e4bd0.00e708","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":580,"wires":[]},{"id":"58fce916.ed8928","type":"function","z":"3aa3dbb9.cfda94","name":"RegEx to build dash board fpr Canceled","func":"x = msg.payload;\n\n//Track end condition\nvar regex_end = /So now i have all the information|is cancelled/g;\nvar myArray_end = x.match(regex_end);\n   \nif(myArray_end[0] === \"is cancelled\"){\n    \nvar regex = /Miami|Los Angeles|Paris|Mumbai|New York|San Francisco|Bangkok|\\(([^)]+)\\)/g;\nvar myArray_end = x.match(regex);\nmyArray_end.push(\"Canceled\");//append array with status\n\nmsg.payload = myArray_end; //print match array\n\nreturn msg;\n}else {\n    msg.payload = \"Error\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":940,"y":600,"wires":[["c07a5e0a.df359"]]},{"id":"3a9ecd35.bf8e02","type":"function","z":"3aa3dbb9.cfda94","name":"City condition to String","func":"var output = msg.payload.output.text[0];\n\nmsg.payload = output.toString();\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["58fce916.ed8928","8ab345f2.85a4f8"]]},{"id":"8ab345f2.85a4f8","type":"debug","z":"3aa3dbb9.cfda94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":340,"wires":[]},{"id":"e6bf4192.c2e5a","type":"ui_group","z":"","name":"Default","tab":"605031c2.add79","disp":true,"width":"7","collapse":false},{"id":"605031c2.add79","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]